apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: iot-rewards-faucet
  name: iot-rewards-faucet
  namespace: helium
spec:
  selector:
    matchLabels:
      app: iot-rewards-faucet
  template:
    metadata:
      labels:
        app: iot-rewards-faucet
        security-group: rds-access
    spec:
      serviceAccountName: rds-iot-oracle-user-access
      containers:
        - name: iot-rewards-faucet
          image: public.ecr.aws/v0j6k5v6/rewards-oracle-faucet-service:0.1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          env:
            - name: ANCHOR_PROVIDER_URL
              valueFrom:
                secretKeyRef:
                  name: helius-rpc-url
                  key: secret
            - name: PGDATABASE
              value: iot_index
            - name: PGHOST
              value: oracle-rds.cf49lv1xslmw.us-east-1.rds.amazonaws.com
            - name: PGPORT
              value: "5432"
            - name: PGUSER
              value: iot_oracle
            - name: AWS_REGION
              value: us-east-1
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 3000
            timeoutSeconds: 1
          resources:
            requests:
              cpu: 100m
              memory: 200Mi
            limits:
              cpu: 100m
              memory: 300Mi
---
apiVersion: v1
kind: Service
metadata:
  name: iot-rewards-faucet
  namespace: helium
spec:
  ports:
    - port: 3000
      protocol: TCP
      targetPort: http
  selector:
    app: iot-rewards-faucet
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: iot-rewards-faucet
  namespace: helium
  annotations:
    nginx.ingress.kubernetes.io/limit-rps: "1"
    nginx.ingress.kubernetes.io/limit-burst-multiplier: "3"
spec:
  ingressClassName: nginx
  rules:
  - host: iot-rewards-faucet.oracle.test-helium.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: iot-rewards-faucet
            port:
              number: 3000
