apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: helium
  namespace: argocd
spec:
  destination:
    namespace: helium
    server: https://kubernetes.default.svc
  project: helium
  source:
    repoURL: https://github.com/helium/helium-foundation-k8s
    path: manifests/web-cluster/sdlc/helium
    targetRevision: develop
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: slack-tools
  namespace: argocd
spec:
  destination:
    namespace: slack-tools
    server: https://kubernetes.default.svc
  project: slack-tools
  source:
    repoURL: https://github.com/helium/helium-foundation-k8s
    path: manifests/web-cluster/sdlc/slack-tools
    targetRevision: develop
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
spec:
  destination:
    namespace: ingress-nginx
    server: https://kubernetes.default.svc
  project: ingress-nginx
  source:
    repoURL: https://github.com/helium/helium-foundation-k8s
    path: manifests/web-cluster/sdlc/ingress-nginx
    targetRevision: develop
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
