apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: helium-vote-service
  name: helium-vote-service
  namespace: helium
spec:
  selector:
    matchLabels:
      app: helium-vote-service
  template:
    metadata:
      labels:
        app: helium-vote-service
        security-group: rds-access
    spec:
      serviceAccountName: rds-web-user-access
      containers:
        - name: helium-vote-service
          image: public.ecr.aws/v0j6k5v6/helium-vote-service:0.0.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
              name: http
              protocol: TCP
          env:
            - name: SOLANA_URL
              valueFrom:
                secretKeyRef:
                  name: triton-rpc-url
                  key: secret
            - name: PGHOST
              value: web-rds.cnigyps3bpgz.us-east-1.rds.amazonaws.com
            - name: PGPORT
              value: "5432"
            - name: PGUSER
              value: web
            - name: AWS_REGION
              value: us-east-1
            - name: PGDATABASE
              value: monitoring
            - name: PGSSLMODE
              value: no-verify
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 8081
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 8081
            timeoutSeconds: 1
          resources:
            requests:
              cpu: 100m
              memory: 200Mi
            limits:
              cpu: 300m
              memory: 300Mi
---
apiVersion: v1
kind: Service
metadata:
  name: helium-vote-service
  namespace: helium
spec:
  ports:
    - port: 8081
      protocol: TCP
      targetPort: http
  selector:
    app: helium-vote-service
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: helium-vote-service
  namespace: helium
  annotations:
    nginx.ingress.kubernetes.io/limit-rps: "10"
    nginx.ingress.kubernetes.io/limit-burst-multiplier: "10"
spec:
  ingressClassName: nginx
  rules:
  - host: helium-vote-service.web.test-helium.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: helium-vote-service
            port:
              number: 8081
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: helium-vote-service
  namespace: helium
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: helium-vote-service
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 75
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75