apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: onboarding-server
  name: onboarding-server
  namespace: helium
spec:
  selector:
    matchLabels:
      app: onboarding-server
  template:
    metadata:
      labels:
        app: onboarding-server
        security-group: rds-access
    spec:
      serviceAccountName: rds-web-user-access
      containers:
        - name: onboarding-server
          image: public.ecr.aws/v0j6k5v6/onboarding-server:0.0.2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3002
              name: http
              protocol: TCP
          env:
            - name: NODE_ENV
              value: staging
            - name: POSTGRES_URL
              value: "postgres://web_admin:password@web-rds.cnigyps3bpgz.us-east-1.rds.amazonaws.com:5432/onboarding?sslmode=no-verify"
            - name: ENABLE_SOLANA
              value: "true"
            - name: KEYRING
              value: '{"1":"uDiMcWVNTuz//naQ88sOcN+E40CyBRGzGTT7OkoBS6M="}'
            - name: KEYRING_SALT
              value: development_salt
            - name: RATE_LIMIT_MAX
              value: "100"
            - name: IOT_MINT
              valueFrom:
                configMapKeyRef:
                  name: globals
                  key: iot_mint
            - name: HNT_MINT
              valueFrom:
                configMapKeyRef:
                  name: globals
                  key: hnt_mint
            - name: MOBILE_MINT
              valueFrom:
                configMapKeyRef:
                  name: globals
                  key: mobile_mint
            - name: SOLANA_URL
              valueFrom:
                configMapKeyRef:
                  name: globals
                  key: solana_url
            - name: ASSET_API_URL
              valueFrom:
                configMapKeyRef:
                  name: globals
                  key: asset_api_url
          resources:
            requests:
              cpu: 250m
              memory: 500Mi
            limits:
              cpu: 500m
              memory: 750Mi
---
apiVersion: v1
kind: Service
metadata:
  name: onboarding-server
  namespace: helium
spec:
  ports:
    - port: 3002
      protocol: TCP
      targetPort: http
  selector:
    app: onboarding-server
  sessionAffinity: None
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: onboarding-server
  namespace: helium
spec:
  ingressClassName: nginx
  rules:
  - host: onboarding.web.test-helium.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: onboarding-server
            port:
              number: 3002
